{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier Atelier{% endblock %}

{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2" id="toggleForm">
            <i class="mdi mdi-plus"></i>
        </span> Ajouter un Atelier
    </h3>
</div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Mettez à jour les informations</h4>

                        <img src="{{ asset('img/illustration/10.png') }}" alt="Image Not Found" class="mb-4 d-block mx-auto">

                        {{ include('atelier/_form.html.twig', {'button_label': 'Modifier'}) }}

                        <div class="text-center mt-3">
                            <a href="{{ path('app_atelier_index') }}" class="btn btn-secondary">
                                <i class="mdi mdi-arrow-left"></i> Retour à la liste
                            </a>
                        </div>

                        {{ include('atelier/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- content-wrapper -->
</div> <!-- main-panel -->
{% endblock %}
