{% extends 'base.html.twig' %}

{% block title %}New Atelier{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau atelier</h1>

    {{ include('atelier/_form.html.twig') }}

    <a href="{{ path('app_atelier_index') }}">Revenir à la list</a>
{% endblock %}
