{% extends 'base.html.twig' %}

{% block title %}Edit CultureAgricole{% endblock %}

{% block body %}
    <h1>Edit CultureAgricole</h1>

    {{ include('culture_agricole/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_culture_agricole_index') }}">back to list</a>

    {{ include('culture_agricole/_delete_form.html.twig') }}
{% endblock %}
