{% extends 'base.html.twig' %}

{% block title %}Edit reservation{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_reservation_index') }}">Revenir à la list</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
