


{# <form method="post" action="{{ path('app_dechet_delete', {'id': dechet.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dechet.id) }}">
     <button class="btn">Supprimer</button>
</form> #}
  


  {% if dechet.id %}
    <form method="post" action="{{ path('app_dechet_delete', {'id': dechet.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dechet.id) }}">
        <button class="btn">Supprimer</button>
    </form>
{% else %}
    <p>Id de l'dechet non valide.</p>
{% endif %}
