{% extends 'baseAdmin.html.twig' %}

{% block body %}
<h2>Send a Message</h2>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Send</button>
{{ form_end(form) }}
{% endblock %}